<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Administradores</title>
</head>
<body>
    <h1>Lista de Administradores</h1>
    
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="admin : ${admins}">
                <td th:text="${admin.id}"></td>
                <td th:text="${admin.nombre}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>
