<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Sobre Nosotros</title>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
     <style>
        .logo {
            max-width: 150px;  
            display: block;  
            margin: 0 auto;  
            margin-top: -3%; 
            margin-bottom:-3%;
        }
        body {
            margin-bottom: 0;
        }

        footer {
            margin-top: 0; 
            
        }
    </style>
    <link rel="icon" type="image/x-icon" href="IconoNavegador.ico">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <img src="../static/img/LogoOficial.png" alt="LogoMGP" class="logo">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item ">
                    <a class="nav-link" href="Inicio.html">Inicio</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="sobreNosotros.html">Acerca de nosotros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="Contacto.html">Contacto</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="Login.html">Ingresar</a>
                </li>
            </ul>
        </div>
    </nav>
    <section id="acerca-de-nosotros" class="py-5 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-left">
                    <h2 class="section-heading text-uppercase" style="text-align: center;">Acerca de Nosotros</h2>
                    <p class="text-muted" style="text-align: center;">Bienvenido a MP Soluciones Informáticas, tu socio confiable para la reparación y optimización de todo tipo de artefactos electrónicos. Nos enorgullece ser una empresa dedicada y comprometida con brindar soluciones efectivas para tus necesidades tecnológicas.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 text-center">
                    <h3 class="section-subheading text-muted">Nuestra Misión</h3>
                    <p class="text-muted">En MGP Soluciones Informáticas, nuestra misión es proporcionar servicios de reparación y mantenimiento de artefactos electrónicos con la más alta calidad y profesionalismo. Nos esforzamos por superar las expectativas de nuestros clientes, ofreciendo soluciones precisas y eficientes que garanticen el funcionamiento óptimo de sus dispositivos electrónicos.</p>
                </div>
                <div class="col-lg-4 text-center">
                    <h3 class="section-subheading text-muted">Nuestros Servicios</h3>
                    <p class="text-muted">Ofrecemos un amplio abanico de servicios, incluyendo la reparación de computadoras, laptops, tablets, teléfonos móviles, impresoras y otros dispositivos electrónicos. Nuestro equipo altamente capacitado cuenta con la experiencia necesaria para diagnosticar y resolver cualquier problema que pueda presentarse, garantizando la plena funcionalidad de tus dispositivos.</p>
                </div>
                <div class="col-lg-4 text-center">
                    <h3 class="section-subheading text-muted">Compromiso con la Excelencia</h3>
                    <p class="text-muted">En MGP Soluciones Informáticas, la excelencia es nuestro estándar. Nos esforzamos por mantenernos actualizados con las últimas tendencias tecnológicas y técnicas de reparación, asegurando así que nuestros clientes reciban servicios de la más alta calidad. Nos enorgullece nuestro compromiso con la satisfacción del cliente y estamos dedicados a brindar soluciones informáticas que cumplan y superen tus expectativas.</p>
                </div>
            </div>
        </div>
    </section>
    <footer class="py-4 bg-dark text-white text-center">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <p>&copy; 2023 MGP Soluciones Informáticas. Todos los derechos reservados.</p>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
